<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
</head>
<body>


        <div class="dashboard-cards">
                <div class="card">
                    <div class="card-title">Overall Sales Count </div>
        
                    <div class="card-value" id="salesCount">
                        <%= salesReport.length>0 ? salesReport[0].totalDeliveredOrders : 0 %>
                    </div>
                </div>
                <div class="card">
                    <div class="card-title">Overall order Amount</div>
                    <div class="card-value" id="overallAmount">
                        <%= salesReport.length>0 ? salesReport[0].overallOrderAmount : 0 %>
                    </div>
                </div>
                <div class="card">
                    <div class="card-title">Total Products</div>
                    <div class="card-value" id="totalProducts">
                        <%= products ? products : 0 %>
                    </div>
                </div>
                <div class="card">
                    <div class="card-title">Overall Discount</div>
                    <div class="card-value" id="overallDiscount">
                        <%= salesReport.length>0 ? salesReport[0].overallDiscount : 0 %>
                    </div>
                </div>
            </div>
        
</body>
</html>