<!-- ADMMIN DASHBOARD DISCOUNT header -->

<div class="card">
    <div class="card-title">Over all Discount</div>
    <div class="card-value" id="overallDiscount">

        <%= salesReport.length>0 ? element.overallDiscount : 0 %>

    </div>
</div>




<div class="card">
    <div class="card-title">Overall Discount</div>
    <div class="card-value" id="overallDiscount">${response.order[0].overallDiscount}
    </div>
</div>     



<!-- ADMIN SIDE STATUS CHANGE -->

<%= element.orderStatus === 'Cancelled' || element.orderStatus === 'Delivered' ? 'disabled'  : ''%>