#reset-otp-body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url('https://c0.wallpaperflare.com/preview/872/71/787/united-states-berkeley-hot-wheels-diecast.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    backdrop-filter: blur(5px);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
    
}

.reset-otp-container {
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 50px 30px;
    max-width: 400px;
    width: 100%;
    background-image: url('https://i.pinimg.com/736x/d2/17/2b/d2172b3b2fd4398727d433cba54ddb70.jpg');
    box-shadow: 0 px 24px rgba(0, 0, 0, 0.1);
    color: white;
}

.reset-otp-inputs {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.reset-otp-inputs input {
    width: 50px;
    height: 50px;
    font-size: 1.5rem;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.reset-submit-btn {
    margin-top: 20px;
    padding: 12px 20px;
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

.reset-otp-timer {
    margin: 20px 0;
    font-size: 1rem;
    color: #333;
}

.reset-otp a {
    color: #ccc;
    text-decoration: none;
    pointer-events: none;
}

.reset-otp a.active {
    color: #007bff;
    pointer-events: auto;
    cursor: pointer;
}

#timerValue.expired {
    color: red;
}

.reset-resend-otp a{
    color: #ccc;
    text-decoration: none;
    pointer-events:all;
}
.reset-otp-timer{
    color: #ccc;
    font-size: 0.9rem;
    margin-top: 0.5rem;
}