body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url("https://c4.wallpaperflare.com/wallpaper/686/261/132/forza-racing-race-cars-xbox-wallpaper-preview.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}

.otp-container {
    text-align: center;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 50px 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}

.otp-inputs {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.otp-inputs input {
    width: 50px;
    height: 50px;
    font-size: 1.5rem;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.submit-btn {
    margin-top: 20px;
    padding: 12px 20px;
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

.otp-timer {
    margin: 20px 0;
    font-size: 1rem;
    color: #333;
}

.resend-otp a {
    color: #ccc;
    text-decoration: none;
    pointer-events: none;
}

.resend-otp a.active {
    color: #007bff;
    pointer-events: auto;
    cursor: pointer;
}

#reset-timerValue.expired {
    color: red;
}