         


        <section id="page-header" class="about-header">
            <h2>#knowUs</h2>
            <p>know about us more!!!</p>
        </section>

        <section id="about-head" class="section-p1">
            <img src="https://wallpapercave.com/wp/wp1860121.jpg" alt="Hot Wheels Collection">
            <div>
                <h2 id="about-h2" >Who We Are?</h2>
                <p id="about-p"> Hot Wheels is the world's leading brand in die-cast cars, bringing joy to collectors and racing enthusiasts since 1968. For over five decades, we have been pushing the limits of innovation, designing high-performance toy cars and exhilarating race tracks that capture the thrill of real-world racing.</p>
                
                <abbr id="about-abbr" title="">Our commitment to quality and creativity ensures that each Hot Wheels car delivers unmatched excitement and fuels the imagination of fans of all ages.</abbr>
        
                <br><br>
        
                <marquee bgcolor="#ccc" loop="-1" scrollamount="5" width="100%">Experience the thrill of racing with Hot Wheels – where every car is built for speed, style, and adventure!</marquee>
            </div>
        </section>
        

        <section id="about-app" class="section-p1">
            <h1 id="about-h1">Download Our <a href="#">App</a></h1>
            <div class="video">
                <video autoplay muted loop src="https://v1.pinimg.com/videos/mc/720p/63/93/aa/6393aa3797f2d81a4deabebbf66c9a3f.mp4"></video>
            </div>
        </section>

        

      