<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Password Page</title>
    <link rel="stylesheet" href="/user/home/new-password.css">
</head>
<body id="new-password-body">
    

    <div class="new-password-container">
        <h1>Change Password</h1>
        <form id="new-password-form" action="/new-password" method="post">
            <div class="new-password-form-group">

                <% if (errors && errors.password_error ) { %>
                    <p class="error_message" ><%= errors.password_error %></p>
              <% } %>

              <% if (errors && errors.confirm_password_error) { %>
                <p class="error_message" ><%= errors.confirm_password_error %></p>
           <% } %>

              <br>

                <label for="new-password">New Password</label>
              
                <input type="password" id="new-password" name="password" >
            </div>
            <div class="new-password-form-group">
                <label for="confirm-password">Re-enter Password</label>
                
                <input type="password" id="new-password-confirm-password" name="confirm_password" >
            </div>
            <button id="new-password-button" type="submit">Update Password</button>
        </form>
    </div>


</body>
</html>