<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <link rel="stylesheet" href="/user/home/reset-password.css">
</head>

    <body id="reset-body" >
        <div class=" reset-container">
            <h1 id="reset-password" >Reset Your Password</h1>
            <p class="reset-description">Please enter your email address to reset your password</p>
            
            <form id="reset-form" action="/reset-password" method="post">
                <div class="reset-form-group">
                    <label for="email">Email Address</label>
                    <% if (errors && errors.email_error) { %>
                        <p class="error-message"><%= errors.email_error %></p>
                    <% } %>
                    <input type="email" id="email" placeholder="Enter your email" name="email" >
                </div>
                
                <button  type="submit">Get OTP</button>
            </form>
        </div>
    </body>

</html>